html 
{
	position: relative;
	
	
}
i 
{
	background: white;
	padding: 20px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
body 
{
	background-color: yellow;
	transition: background-color 0.5s ease-in-out;
}
.fa.fa-power-off 
{
	font-size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
}
.vasomhelst 
{
	background-color: magenta;
}
